In [2]:
import pandas as pd

In [3]:
locations = ['Lichtenberg', 'Neukölln', 'Mitte', 'Friedrichshain', 'Kreuzberg', 'Schöneberg', 'Prenzlauer Berg', 'Alt-Treptow', 'Tempelhof']
rent_prices = [739, 812, 1090, 863, 865, 797, 856, 794, 755]

In [4]:
a = pd.DataFrame({'station': locations, 'rent': rent_prices})
a.head()

          station  rent
0     Lichtenberg   739
1        Neukölln   812
2           Mitte  1090
3  Friedrichshain   863
4       Kreuzberg   865

In [5]:
a.to_csv('./lba_data/rent_per_station.csv')