In [1]:
import pandas as pd
import scipy.stats as sts
import numpy as np
import matplotlib.pyplot as plt

In [4]:
sm_data = pd.read_csv('socialmobility.csv')
sm_data

          father           son  count
0           farm          farm    703
1           farm     unskilled   1478
2           farm       skilled   1430
3           farm  professional   1109
4      unskilled          farm     58
5      unskilled     unskilled   1756
6      unskilled       skilled   1630
7      unskilled  professional   1568
8        skilled          farm     63
9        skilled     unskilled   1453
10       skilled       skilled   2068
11       skilled  professional   2483
12  professional          farm     61
13  professional     unskilled    749
14  professional       skilled   1183
15  professional  professional   3315

In [13]:
pd.unique(sm_data['count'])
sm_data.shape[0]

16

### Uniform Dirichlet Prior

In [33]:
alpha_prior = np.repeat(1, sm_data.shape[0])
dirichlet_prior = sts.dirichlet(alpha_prior) # alpha_i = 1 for all combinations

### Conjugate Posterior

In [36]:
alpha_posterior = alpha_prior + np.array(sm_data['count']) # larger sum of Î± means smaller variance
dirichlet_posterior = sts.dirichlet(alpha_posterior)

### Posterior Confidence Intervals

In [38]:
samples = dirichlet_posterior.rvs(size=10000)

In [40]:
samples.shape # columns are categories

(10000, 16)

In [73]:
# posterior 95% probability interval over the probability that a son will
# become a skilled laborer if his father was an unskilled laborer
unskilled_dad = samples[:, range(4, 8)]
skilled_son_given_unskilled_data = samples[:, 6] / np.sum(unskilled_dad, axis=1)
np.percentile(skilled_son_given_unskilled_data, [2.5, 97.5])

array([0.31214438, 0.33817504])

In [74]:
# posterior 95% probability interval over the probability that a father
# works on a farm if his son works as a professional
professional_son = samples[:, [3, 7, 11, 15]]
farm_dad_given_professional_son = samples[:, 3] / np.sum(professional_son, axis=1)
np.percentile(farm_dad_given_professional_son, [2.5, 97.5])

array([0.12395169, 0.13809714])